body{
    background-color: lightskyblue;
}
img{
    width: 200px;
    height:     200px;
}.body{
    background-color: lavenderblush;
}h1{
    text-align: center;
}.body2{
    background-color: maroon;
}nav{
    color: mintcream;
}
